* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.menu a {
    margin: 30px;
    text-decoration: none;
    color: rgb(0, 83, 139);
    font-weight: bold;
    
}
.barras {
    display: none;
}
.principal {
    background-image: url(imagens/image2.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
}
@media screen and (max-height: 800px) {
    .principal {
        height: 90vh;
    }
}
.conteudo-principal {
    color: white;
    margin-left: 104px;
    padding-top: 120px;
}
.conteudo-principal h1, .conteudo-principal p {
    margin-bottom: 55px;
}
.conteudo-principal h1 {
    max-width: 597px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.1em;
}
.conteudo-principal p {
    max-width: 613px;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1em;
}
.button1 a {
    text-decoration: none;  
    color: white;
    border: 2px solid #FCFCFC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 14px;
    transition: all .5s;
    font-weight: bold;
    
}
.button1 a:hover {
    background-color: white;
    color: rgba(0, 96, 155, 0.65);
}
@media screen and (max-width: 640px) { 
    .conteudo-principal {
        
        margin-left: 20px;
        padding-top: 20px;
        
    }
    .conteudo-principal h1 {
        
        font-size: 40px;
        
    }


} 
@media screen and (max-width: 700px) {
    header{
        height: 40px;
    }

    .menu  a{
        display: none;
    }
    #logo {
        display: none;
    } 
    
    .barras{
        position: absolute;
        display: block;
        width: 40px;
        height: 30px;
        top: 20px;
        right: 15px;
    }
    
    .one,
    .two,
    .three {
        background-color: rgb(0, 111, 139);
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }
    
    /*full screen*/
    .menu-section-on {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        background-color: rgb(0, 111, 139);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        transition: all.5s;
    }
    .menu-section-on .menu a{
        display: block;
        text-align: center;
        color: white;
        transition-duration: 0.5s;
        font-size: 2rem;
        line-height: 4rem;
        
    }
    .menu-section-on .barras {
        position: absolute;
        right: 0;
        top: 20px;
        right: 15px;
    }
    .menu-section-on .one,
    .menu-section-on .three {
        background-color: white;
    }
    
    .menu-section-on .barras .one {
        transform: rotate(45deg) translate(7px, 7px);
    
    }
    .menu-section-on .barras .two {
        opacity: 0;
    }
    .menu-section-on .barras .three {
        transform: rotate(-45deg) translate(8px, -9px)
    }
}
.secundario img {
    margin-top: 120px;
    margin-left: 82px;
}
.conteudo-secundario {
    display: inline-block;
   
    vertical-align: top;
    margin-top: 146px;
    margin-left: 65px;
}
.conteudo-secundario h2 {
    margin-bottom: 67px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
}
.conteudo-secundario p {
    max-width: 693px;
    margin-bottom: 47px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}
.button2 a {
    text-decoration: none;
    border: 2px solid #04A5D1;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 22px 34px;
    font-weight: bold;
    color: #04A5D1;
    transition: all .5s;
}
.button2 a:hover {
    background-color: #04A5D1;
    color: white;
}
@media screen and (max-width: 700px) {
    .secundario img {
        margin: 10px;
        width: 350px;
    }
}
.motivos {
    margin-top: 160px;
}
.h2sec {
    max-width: 729px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #00609B;
    text-align: center;
}
.container {
display: flex;
margin-top: 132px;
margin-bottom: 132px;
}
.box {
    width: 400px;
    height: 380px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 70px;
    margin: auto;

}
.contents {
    padding-left: 19px;
    padding-top: 43px;
    font-family: Arial, Helvetica, sans-serif;
}
.box h3 {
    margin-bottom: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: justify;
    color: #00609B;
}
.box h4 {
    margin-bottom: 39px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color: #00609B;
}
.box p {
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}
@media screen and (max-width: 1258px) {
    .container{
        display:block;
        
    }
    .box {
        margin-bottom: 30px;
    }
}
.frota {
    background-image: url(imagens/fro.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 396px;
    margin-bottom: 139px;
    text-align: center;
    color: white;
}
.contents-frota {
    padding-top: 143px;

}
.frota h2 {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 48px;
    text-align: center;
}
.frota a {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 21px 40px;
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.5s;
}
.frota a:hover {
    background-color: white;
    color: rgba(0, 96, 155, 0.65);
}
.marcas {
    margin-bottom: 100px;
}
.contents-marca {
    text-align: center;
    margin-bottom: 87px;
}
.contents-marca h2{
    padding-bottom: 62px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #00609B;
}
.contents-marca p {
    max-width: 760px;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #202020;
    padding-bottom: 118px;
}
.carrossel {
    margin: auto;
    overflow: hidden;  
    max-width: 1140px;
    height: 500px;
}
.img-marcas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}   
.img-marcas img {
    object-fit: cover;
    
} 
#bluer {
    width: 400px;
}

@media screen and (max-width: 1138px){
    .img-marcas {
        flex-direction: column;
        
    }
    .img-marcas img {
        margin-bottom: 80px;
        padding-right: 0;
    }
}
.bolinhas {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    margin-top: 83px;
}
.bolinha,
.bolinha1 {
    
    background-color: #C4C4C4;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    
}
.bolinha1 {
    background-color: #00609B;
}
footer {
    background-image: url(imagens/rodapé.png);
    background-size: cover;
    height: 100%;
    position: relative;
}
.contents-pe {
    display: flex;
    padding-left: 280px;
    padding-top: 160px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.contents-pe h2 {
    padding-bottom: 31px;
}
.contents-pe p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 24px;
}
.contato {
    max-width: 311px;
    padding-right: 180px;
}
.endereço {
    max-width: 248px;
    padding-right: 290px;
}
#dis {
    padding-top: 25px;
}
@media screen and (max-width: 1700px) {
    .contents-pe {
        padding-left: 150px;
        padding-top: 60px;
    }
    .contato {
        padding-right: 80px;
    }
    .endereço {
        padding-right: 100px;
    }
}
@media screen and (max-width: 1142px){
    
    .contents-pe {
        flex-wrap: wrap;
    }
    .mapa {
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 562px) {
    .contents-pe {
        padding-left: 50px;
    }
    .mapa {
        padding-bottom: 20px;
        width: 300px;
    }
}




